.bg { 
    background-image: url('/src/assets/img/bg/bgCalculo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 2%;
}

.btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-block: 40px;
}

button {
    width: 250px;
    padding: 10px;
    font-size: 24px;
    background-color: #023618;
    color: white;
}

button:disabled{
    background-color: gray;
    border-color: gray;
}

button:first-child{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    text-align: right;
}

button:last-child{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    text-align: left;
}